<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="psystems.bursting.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="psystems.bursting.SimulationPlotView"
            id="psystems.bursting.simulationPlot"
            name="SimulationPlot"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="psystems.bursting.Perspective"
            id="psystems.bursting.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="psystems.bursting.MembraneModelEditor"
            default="false"
            id="psystems.bursting.editors.membraneModel"
            name="MembraneModel">
      </editor>
   </extension>

</plugin>
